<nav class="navbar navbar-expand-md navbar-dark bg-primary">
  <div class="container">
    <a class="navbar-brand" href="#">Dating App</a>
    <ul *ngIf="LoggedIn()" class="navbar-nav mr-auto">
      <li class="nav-item active">
        <a class="nav-link" href="#">Matches</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">List</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">Messages</a>
      </li>
    </ul>

    <div class="dropdown mr-1" *ngIf="LoggedIn()" dropdown>
      <a class="dropdown-toggle text-light" dropdownToggle
        >Welcome {{ authService.decodedToken?.unique_name | titlecase }}</a
      >
      <div class="dropdown-menu mt-3" *dropdownMenu>
        <a class="dropdown-item"><i class="fa fa-user"></i> Edit Profile</a>
        <div class="dropdown-divider"></div>
        <a class="dropdown-item" (click)="Logout()"
          ><i class="fa fa-sign-out"></i> Logout</a
        >
      </div>
    </div>

    <form
      *ngIf="!LoggedIn()"
      #loginForm="ngForm"
      class="form-inline my-2 my-lg-0"
      (ngSubmit)="login()"
    >
      <input
        class="form-control mr-sm-2"
        type="text"
        placeholder="Username"
        [(ngModel)]="model.username"
        required
        name="username"
      />
      <input
        class="form-control mr-sm-2"
        type="password"
        placeholder="Password"
        [(ngModel)]="model.password"
        required
        name="password"
      />
      <button
        class="btn btn-primary my-2 my-sm-0"
        type="Login"
        [disabled]="!loginForm.valid"
      >
        Login
      </button>
    </form>
  </div>
</nav>
